@model IEnumerable<Payrolls.Models.UserGroup>;

  <div class="row">
      <div class="col-md-4">
          <div class="card">
              <div class="card-body">

                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>UserGroupName</th>
                            <th>UserGroupCode</th>
                            
                        </tr>
                       </thead>
                       <tbody>
                        @foreach (var item in Model){

                            <tr>
                                <td>@item.UserGroupId</td>
                                <td>@item.UserGroupName</td>
                                <td>@item.UserGroupCode</td>

                               
                            </tr>

                               }

                                
                          
                       </tbody>

                </table>

              </div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="card">
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-12">
                          <label>UserGroupName</label><br />
                          <input type="text" class="form-control txtUserGroupName" />
                      </div>

                    <div class="col-md-12">
                        <label>UserGroupCode</label><br />
                        <input type="text" class="form-control txtUserGroupCode" />

                    </div>

                    <div class="col-md-12 mt-3">
                       <button type="button" class="btn btn-success btnsave">Save</button>
                       <button type="button" class="btn btn-danger btncancel">Cancel</button>

                    </div>


                  </div>
              </div>
</div>
      </div>
  </div>



@section scripts {
    <script>
        $(document).ready(function(){

        });
        $(document).on('click', '.btncancel', function () {
          
            var ok =confirm("Are you sure to cancel the form..?")
            if(ok== true){
                $('.txtUserGroupName').val();
                $('.txtUserGroupCode').val();

                clearForm();
            }

        });

            function clearForm() {
            $('.txtUserGroupName').val('');
            $('.txtUserGroupCode').val('');
        }


        $(document).on('click', '.btnsave', function () {

            var name = $('.txtUserGroupName').val();
            var code = $('.txtUserGroupCode').val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "UserGroup")',
                data: {
                    UserGroupName: name,
                    UserGroupCode: code
                },
                success: function (res) {
                    toastr.success(res.message);
                    clearForm();
                },
                error: function () {
                    toastr.error("Message was not sent");
                }
            });

        });
    </script>
}
